img{
    border-radius: 50%;
}
section{
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 8px;
    background-image: url(img/01.png);
    text-align: center;
}
body{

}
.selection{
    color: hotpink;
}
.copylight{
    text-align: center;
}
.test01{
    text-align: right;
    color: brown;
}
.a_button{
    display: inline-block;
    border-style: solid;
    background-color: lightgray;
    border-width: 1px;
    border-color: darkgrey;
    text-decoration: none;
}